.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    font-family: "RF Dewi";
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #0B101B;
    background-color: #ffff;
    min-width: 375px;
    max-width: 100%;
    margin: 0 auto;
  }
  button,
  a{
   cursor: pointer;
  }
  .main-header-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #F6F7FA;
    height: 40px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 3%;
    padding-right: 5%;
  }
  .main-header-list__item{
    list-style: none;
    font-size: 14px;
    line-height: 18px;
  }
  .main-header-list__item--color{
    color: rgba(128, 141, 154, 1);
  }
  .header-nav__list-link{
    text-decoration: none;
    color: #0B101B;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-nav__list-item{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-nav__list-item:nth-child(1){
    display: grid;
    margin-right: 3%;
  }.header-nav__list-item:nth-child(2){
    margin-right: 2%;
  }
  .header-nav__list-item:nth-child(3){
    border-radius: 10px;
    height: 42px;
    background-color: #FF4C50;
    box-sizing: border-box;
    padding: 13px 3% 13px;
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
    padding: 13px 1% 13px;
    display: flex;
    justify-content: space-around;
    width: 223px;
  }
  .header-nav__list-item:nth-child(4){
    border-radius: 10px;
    height: 42px;
    background-color: rgba(255, 233, 233, 0.5);
    box-sizing: border-box;
    padding: 13px 1% 13px;
    display: flex;
    justify-content: space-around;
    width: 199px;
    margin-right: 20%;
  }
  .header-nav__list-item:nth-child(5){
    margin-right: 2%;
  }
  .header-nav__list-link--color{
    background-color: #FF4C50;
    color: #ffff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    width: 145px;
  }
  .header-nav__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 5%;
  }
  .header-nav__list-catalog{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   padding-left: 3%;
   padding-right: 3%;
 }
  .header-nav__list-link--color-logo{
    color: rgba(255, 76, 80, 1);
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
  }
  .header-nav__list-link--color-link{
    color: #FF4C50;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    width: 145px;
  }
  .header-nav__list-link--color-links{
   color: #0B101B;
   font-size: 16px;
   line-height: 19px;
   font-weight: 700;
 }
  .header-nav__list-link--size{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
  .main__section{
    text-align: center;
    padding: 164px 0 264px;
    width: 35%;
  }
  .main__header{
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    margin-bottom: 16px;
  }
  .main__paragraf{
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
  }
 .section__list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30%;
    padding-top: 90px;
    margin: 0;
    list-style: none;
 }
 .section__list-item--color{
    color: rgba(255, 76, 80, 1);
 }
 .section__list-header{
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    margin-bottom: 16px;
 }
 .section__list-paragraf{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #0B101B;
    margin: 0;
 }
 .section__button{
    width: 242px;
    background-color: rgba(255, 233, 233, 0.5);
    color: rgba(255, 76, 80, 1);
    height: 47px;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    padding: 0;
    transform: rotate(5deg);
    margin: 40px 0 0;
    position: relative;
    left: -50px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .section__button-paragraf{
    color: rgba(128, 141, 154, 1);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    transform: rotate(5deg);
    margin: 10px;
 }
 .section__list-size{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #0B101B;
    margin: 0;
    display: flex;
 }
 .section__span-size{
    font-size: 20px;
    line-height: 26px;
    font-weight: 900;
    color: #333333;
    margin: 0;
 }
 .section__span{
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: #0B101B;
 }
 .section-catalog__header{
    font-size: 26px;
    line-height: 31px;
    font-weight: 900px;
 }
 .section-catalog__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
 }
 .section-catalog__header{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
 }
 .section-catalog__span{
    font-size: 20px;
    line-height: 26px;
    font-weight: 900;
    color: #333333;
 }
 .section-catalog__list--flex{
    display: flex;
    justify-content: space-between;
 }
 .div-catalog{
    padding: 64px 0 100px;
    padding-left: 3%;
 }
 .footer__list{
    list-style: none;
    margin: 0;
    padding: 0;
 }
 .footer{
    padding: 48px 0 48px;
    padding-left: 3%;
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F6F7FA;
 }
 .footer__header{
    font-size: 16px;
    line-height: 19px;
    font-weight: 900;
    color: #333333;
    margin: 0;
    margin-bottom: 16px;
 }
 .footer__list-item{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #333333;
    width: 150px;
 }
 .footer__paragraf{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #333333;
 }
 .footer__list--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30%;
 }
 .header-nav__list-item--color{
    background-color: rgba(246, 247, 250, 1);
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 10px;
 }
 .main__section--flex{
    display: flex;
    justify-content: center;
 }
 .main__svg{
    width: 35%;
 }
 .header-nav__list-item--margin{
   width: 209px;
   justify-content: space-between;
   height: 47px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 13px 16px 13px;
   box-sizing: border-box;
   background: #F6F7FA;
   border-radius: 10px;
 }
 .header-nav{
   box-shadow: 0px 4px 48px rgba(28, 30, 67, 0.08);
 }
 .section__list-item__svg{
   position: relative;
    left: -20px;
    top: 40px;
 }
 .footer__list--flex{
    display: flex;
    width: 20px;
    margin-bottom: 177px;
 }
 .footer__list-item:nth-child(1){
    margin-right: 80%;
 }
 .footer__list-item:nth-child(2){
    margin-right: 80%;
 }
 .footer__list-item:nth-child(3){
    margin-right: 80%;
 }
 .footer__list-item:nth-child(4){
    margin-right: 80%;
 }
 .footer__list-item:nth-child(5){
    margin-right: 80%;
 }
 .footer__list-item:nth-child(1){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(2){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(3){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(4){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(5){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(6){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(7){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(9){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(10){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(11){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(12){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(13){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(14){
    margin-bottom: 12px;
 }
 .footer__list-item:nth-child(15){
    margin-bottom: 12px;
 }
 .section-catalog__div{
    width: 48px;
    height: 48px;
    background-color: #F6F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
 }
 .section-catalog__div--flex{
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
 }
 .section-catalog__list-item{
    display: flex;
    padding: 1%;
    box-shadow: 0px 0px 48px rgb(28 30 67 / 8%);
    border-radius: 20px;
 }
 .section-catalog__list-item:nth-child(6){
    margin-right: 0;
 }
 .section-catalog--margin{
    margin-bottom: 82px;
 }
 .section__list-item:nth-child(1){
   width: 40%;
 }
 .section__list-item:nth-child(2){
   width: 40%;
   display: flex;
   margin-bottom: 202px;
 }
 .section__list-item:nth-child(4){
   margin-bottom: 140px;
 }
 .section__list-item:nth-child(3){
   margin-bottom: 160px;
   width: 25%;
   box-shadow: 0px 0px 48px rgb(106 108 138 / 8%);
   border-radius: 20px;
   transform: rotate(-5.72deg);
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .section__list-item{
   width: 40%;
 }
.section__list-item__img{
   padding: 50px 0 0;
}
.section__list-header--location{
   text-align: end;
}
.section__list-item-transform{
   display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(5deg)
}
.section__list-item-transform--shodow{
   display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 84px rgb(28 30 67 / 9%);
    border-radius: 10px;
    transform: rotate(3.54deg);
}
.catalog-list__item{
   padding: 1%;
    box-shadow: 0px 0px 48px rgb(28 30 67 / 8%);
    border-radius: 20px;
}
.catalog-list__item--shadow{
   box-shadow: 0px 0px 48px rgb(28 30 67 / 8%);
   border-radius: 20px;
   padding: 20px 0 20px;
   padding-left: 1%;
}
.section__list-siz{
   transform: rotate(0);
}
.section__list-item--transform{
   transform: rotate(3deg);
}
.section-catalog__button{
   border: 0;
   width: 48px;
   height: 48px;
   box-sizing: border-box;
   padding: 0;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0px 4px 60px rgb(143 144 184 / 20%);
   border-radius: 15px;
   transform: matrix(-1, 0, 0, 1, 0, 0);
}
.section-catalog__header--big{
   font-size: 26px;
   line-height: 31px;
   color: rgba(0, 0, 0, 1);
   font-weight: 900;
   margin: 0;
   width: 362px;
}
.section-catalog__div--flex-icons{
   display: flex;
   align-items: center;
   justify-content: space-between
}

.section-catalog__list-item-img{
   border-radius: 5px;
}
.section-catalog__div--flex-icon{
   display: flex;
   justify-content: space-between;
   align-items: center;
    width: 13%;
}
.section-catalog__list-item-blok{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.section-catalog__list-item--svg{
   margin-top: 75px;
   margin-left: 1%;
   margin-right: 1%;
}
.section-catalog__list-item{
   margin-right: 0;
}
.section-catalog__list-item--big{
   width: 65%;
}
.section-catalog__list-item-one{
   flex-direction: column;
    margin-right: 6%;
}
.main__s{
   background-image: url("./img/Frame\ 2222.png"), url("./img/Ellipse\ 77.png"), url("./img/Vector\ 193.png"), url("./img/Frame\ 2223.png");
   background-repeat: no-repeat;
   background-position: top left,58% 18%,51% 53%, top right;
   border-bottom: 1px solid #B9C3CD;
}
.section-catalog__list-item-one{
   width: 40%;
}
.section-catalog__list-item-img--size{
   width: 111%;
   height: 192px;
}
.section-catalog__list-item-img--size-min{
   width: 50%;
   height: 192px;
}
.catalog-list{
   list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.control-mark--color{
   background: #ffff;
    border: 1px solid black;
}


.control {
   position: relative;
   display: block;
   padding-left: 40px;
 }
 
 .control-mark {
   position: absolute;
   left: 0;
   top: 2px;
   width: 20px;
   height: 20px;
   background: rgba(255, 76, 80, 1);
   border-radius: 4px;
 }
 .control-mark--color{
   background-color: #ffff;
   border:  1px solid #B9C3CD;
   width: 20px;
   height: 20px;
 }
 
 .control-input[type="checkbox"]:checked + .control-mark::before {
   position: absolute;
   top: 10px;
   left: 2px;
   width: 6px;
   height: 2px;
   background-color: #ffff;
   content: "";
 }
 
 .control-input[type="checkbox"]:checked + .control-mark::after {
   position: absolute;
   top: 9px;
   left: 5px;
   width: 13px;
   height: 2px;
   background-color: #ffff;
   content: "";
 }
 
 .control-input[type="checkbox"]:checked + .control-mark::before {
   transform: rotate(230deg);
 }
 
 .control-input[type="checkbox"]:checked + .control-mark::after {
   transform: rotate(-45deg);
 }
 
 .control-input[type="radio"] + .control-mark {
   border-radius: 50%;
 }
 
 .control-input[type="radio"]:checked + .control-mark::before {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 10px;
   height: 10px;
   background-color: #3f5e72;
   border-radius: 50%;
   content: "";
 }
 .section__list-item__svg--position{
   position: relative;
   left: -20px;
   top: 110px;
   z-index: 5;
 }
 .section__list-item__svg--posit{
   position: relative;
    left: -80px;
    top: 85px;
 }
 .section__button--position{
   border: 0;
   background: inherit;
   position: relative;
   padding: 0;
   left: -110px;
   top: -160px;
 }
 .section-catalog--border{
   border-top: 1px solid #B9C3CD;
   padding-top: 64px;
 }
 .section__list-item--flex{
   display: flex;
 }
 .header-nav__list-item--catalog-width{
   width: 213px;
   border-radius: 10px;
    height: 42px;
    background-color: #FF4C50;
    box-sizing: border-box;
    padding: 13px 3% 13px;
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
    padding: 13px 1% 13px;
    display: flex;
    justify-content: space-around;
 }
 .header-nav__list-item--catalog-color{
   border-radius: 10px;
   height: 42px;
   box-sizing: border-box;
   padding: 13px 1% 13px;
   display: flex;
   justify-content: space-around;
   width: 274px;
   margin-right: 2%;
   background: #FFFFFF;
   box-shadow: 0px 0px 30px rgba(28, 30, 67, 0.12);
   border-radius: 10px;
   align-items: center;
 }
 .header-nav__list-link--color-catalog-span{
   color:  #FF4C50;
   font-size: 16px;
   font-weight: 700;
   line-height: 19px;

 }
 .header-nav__list-item:nth-child(5){
   width: 115px;
   height: 47px;
   background: #F6F7FA;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   box-sizing: border-box;
   font-size: 16px;
   line-height: 19px;
   width: 700;
   color:  #0B101B;
 }
 .header-nav__list-item:nth-child(6){
   width: 209px;
   height: 47px;
   background: #F6F7FA;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   box-sizing: border-box;
   font-size: 16px;
   line-height: 19px;
   width: 700;
   color:  #0B101B;
 }
 .header-nav__list-item:nth-child(7){
   width: 170px;
   height: 47px;
   background: #ffffff;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   box-sizing: border-box;
   font-size: 16px;
   line-height: 18px;
   width: 900;
   color:  #0B101B;
 }
 ul{
   list-style: none;
   margin: 0;
   padding: 0;
 }
 a{
   text-decoration: none;
 }
 h1,
 h2{
   margin: 0;
 }
 .main-catalog{
   padding: 40px 3% 100px;
   display: grid;
   grid-template-columns: 25% 75%;
 }
 .main-catalog__header{
   font-size: 20px;
   line-height: 24px;
   font-weight: 900;
   margin-bottom: 22px;
 }
 .main-catalog__item-link{
   font-size: 16px;
   line-height: 19px;
   font-weight: 400;
   color: rgba(0, 0, 0, 1);
 }
 .main-catalog__svg{
   margin-right: 10px;
 }
 .main-catalog__list-item:nth-child(1){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(2){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(3){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(4){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(5){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(6){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(7){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(8){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(9){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(10){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(11){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(12){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(13){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(14){
   margin-bottom: 19px;
 }
 .main-catalog__list-item:nth-child(15){
   margin-bottom: 19px;
 }
 .section-catalog__p{
   font-size: 16px;
   line-height: 22px;
   font-weight: 400px;
   
 }
 p{
   margin: 0;
 }
 .section-catalog__div-catalog{
   width: 100%;
   height: 88px;
   box-shadow: 0px 0px 48px rgba(28, 30, 67, 0.08);
   border-radius: 10px;
   padding: 20px 32px 20px;
   box-sizing: border-box;
   margin-bottom: 39px;
 }
 .section-catalog__p{
   color: rgba(128, 141, 154, 1);
 }
 .section-catalog__span{
   color: rgba(255, 76, 80, 1);
   font-weight: 900;
 }
 .section-catalog__p--color{
   color: rgba(0, 0, 0, 1);
 }
 .section-catalog__item-catalog{
   font-size: 16px;
   line-height: 19px;
   font-weight: 400;
   color: rgba(0, 0, 0, 1);
   background: #F6F7FA;
   border-radius: 50px;
   padding: 6px 16px 8px;
   box-sizing: border-box;
 }
 .section-catalog__item-catalog:nth-child(1){
   background-color: #ffff;
   margin-right: 16px;
 }
 .section-catalog__item-catalog:nth-child(2){
   margin-right: 8px;
 }
 .section-catalog__item-catalog:nth-child(3){
   margin-right: 8px;
 }
 .section-catalog__item-catalog:nth-child(4){
   margin-right: 8px;
 }
.section-catalog__list-catalog{
   display: flex;
   margin-bottom: 32px;
}
.section-catalog__p-catalog{
   font-weight: 16px;
   line-height: 19px;
   font-weight: 400;
}
.section-catalog__span-catalog{
   font-weight: 20px;
   line-height: 26px;
   font-weight: 900;
}
.section-catalog__item-catalog-item{
   box-shadow: 0px 0px 48px rgba(28, 30, 67, 0.15);
   border-radius: 20px;
   padding: 20px;
}
.section-catalog__list-catalog-item{
   display: flex;
   flex-wrap: wrap;
    margin-bottom: 48px;
}
.list{
   display: flex;
   justify-content: center;
   align-items: center;
}
.list__item{
   font-size: 16px;
   line-height: 19px;
   font-weight: 400;
   width: 40px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   box-sizing: border-box;
}
.list__item:nth-child(1){
   margin-right: 8px;
}
.list__item:nth-child(2){
   margin-right: 8px;
}
.list__item:nth-child(3){
   margin-right: 8px;
}
.list__item:nth-child(4){
   margin-right: 8px;
}
.list__item:nth-child(5){
   margin-right: 8px;
}
.list__item:nth-child(8){
   margin-right: 8px;
}
.list__item:hover{
   background: #F6F7FA
}
.header-nav__list-items{
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   justify-content: space-between;
}
.header-nav__list-items::before{
   position: absolute;
   width: 32px;
   height: 32px;
   left: 191px;
   top: -16px;
   background: #FF4C50;
   content: "3";
   border-radius: 50%;
   top: 50px;
   left: 1310px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffff;
}
.section-catalog__svg{
   position: absolute;
    top: -10px;
    left: 200px;
}
.header-nav__list-item--color-index{
   background-color: #ffff;
   display: flex;
   justify-content: center;
   align-items: center;
}
.section-catalog__svg--position{
   position: absolute;
    top: 60px;
    left: 200px;
}
.section-catalog__item-catalog-item:nth-child(1){
   position: relative;
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(2){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(3){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(4){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(5){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(6){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(7){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(8){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(9){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(10){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(11){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(12){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(13){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(14){
   margin-right: 2%;
}
.section-catalog__item-catalog-item:nth-child(15){
   margin-right: 2%;
}
.section-product__list-item--color{
   background-color: rgba(255, 76, 80, 1);
   color: #ffff;
}
li{
   cursor: pointer;
}
.section-product__list-item{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   line-height: 19px;
   font-weight: 400;
   padding: 10px;
   box-sizing: border-box;
   padding: 5px 15px 5px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
.section-product__list{
   display: flex;
   justify-content: center;
   
}
.main-catalog__list-item-catalog2-svg{
   margin-right: 10px;
}
.header-nav__list-item-index{
   width: 109px;
   height: 47px;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   box-sizing: border-box;
   font-size: 16px;
   line-height: 19px;
   width: 700;
   color: #0B101B;
   align-items: center;
}
.main-catalog__list-item-catalog2--color{
   padding-left: 42px;
   background: #F6F7FA;
   width: 82%;
}
.main-catalog__list-item-catalog-2:nth-child(4){
   padding-left: 42px;
}
.main-catalog__list-item-catalog-2:nth-child(5){
   padding-left: 42px;
}
.main-catalog__list--margin{
   margin-bottom: 38px;
}
.main-catalog__paragraf-catalog2{
   font-size: 16px;
   line-height: 19px;
   font-weight: 400;
   margin-bottom: 27px;
}
.main-catalog__input{
   width: 114px;
   height: 40px;
   border-radius: 10px;
   padding: 10px 35px 10px;
   border: 1px solid rgba(128, 141, 154, 1);
   box-sizing: border-box;
}
.main-catalog__input--margin{
   margin-right: 26px;
}
.section-catalog2__list{
   display: flex;
    padding: 33px 54px 0;
}
.section-catalog2__link{
   font-size: 14px;
   line-height: 16px;
   font-weight: 400;
   color: rgba(255, 76, 80, 1);
   margin-right: 8px;
}
.section-catalog2__svg{
   margin-right: 8px;
}
.slider{
   margin-bottom: 29px;
}
.main-catalog2__label{
   position: relative;
}
.main-catalog2__span{
   position: absolute;
   z-index: 5;
   left: 10px;
   top: 2px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #808D9A;
}
 @media(max-width:1200px){
   .header-nav__list-item:nth-child(2){
      display: none;
   }
   .header-nav__list-link--color{
      display: none;
      width: 44px;
      height: 44px;
   }
   .header-nav__list-item:nth-child(3){
      width: 44px;
      height: 44px;
   }
   .header-nav__list-item:nth-child(4){
      width: 44px;
      height: 44px;
   }
   .header-nav__list-item:nth-child(5){
      display: none;
   }
   .header-nav__list-link--color-link{
      display: none;
   }
   .header-nav__list-link--display{
      display: none;
   }
   .section__list{
      flex-direction: column;
      padding: 0;
      justify-content: center;
      align-items: center;
   }
   .section__list-item:nth-child(1){
      grid-row-start: 1;
   }
   .section__list-item:nth-child(2){
      grid-row-start: 2;
   }
   .section__list-item:nth-child(3){
      grid-row-start: 4;
   }
   .section__list-item:nth-child(4){
      grid-row-start: 3;
   }
   .section__list-item:nth-child(5){
      grid-row-start: 5;
   }
   .section__list-item:nth-child(6){
      grid-row-start: 6;
   }
   .section__list-item:nth-child(7){
      grid-row-start: 7;
   }
   .section__list-item:nth-child(8){
      grid-row-start: 8;
   }
   .main__s{
      background-image: none;
      border-bottom: 1px solid #B9C3CD;
   }
   .section__list-header{
      text-align: center;
   }
   .section__list-paragraf{
      text-align: center;
   }
   .header-nav__list-item--color-index{
      display: none;
   }
   .header-nav__list-item:nth-child(4){
      margin-right: 0;
   }
 }








/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
